body {
    text-align:center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

#home {
    margin-bottom: 200px;
}

img {
    width: 200px; height: auto;
}

h1 {
    color: blueviolet;
    background-color: black;
}
