body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    font-size: 20px;
}
body h1 {
    font-size: 60px;
    font-weight: bold;
    text-decoration: underline;
}

#banner {
    width: 900px; height: auto;
}
img{
    width: 300px; height: auto;

}

button {
    font-size: 30px;
    margin-left: 100px;
}

ul {
    list-style: none;
}

li {

margin-left: 500px;
 margin-bottom: 200px;
 width: 100px; height: auto;
}

}
/* just in case leaving this down here make list look right one top of the other */
li 
    margin-bottom: 70px;
    padding-left: 30px;
}

